

html body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    font-family: Bahnschrift Condensed;
}

.container-fluid {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.loader{
    
    border: 16px solid #f8efef;
    border-radius: 50%;
    border-left: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
padding: px;
margin:22px;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    
    }
}

.video {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

.partners {
   background-color: #F6C75A;
}

.text-bg {
    /* font-size: x-large;
    font-weight: 800; */
    background-color: rgba(102, 43, 43, 0.918);
}

.s1-bg {
    
    
}
.s1-bg {
    position: relative;
    display: grid;
    place-items: center;
    background-color: #fdb6c4;
}
.mango{
    text-align: center;

}
.mango h1{
    background: #a1392b;
    color: aliceblue;
    padding: 18px;
    border-radius: 8px ;
}
.text1{

    opacity: 0;
    position: absolute;
    bottom: -13px;
    transition: 1.5s;
    transform: translateY(128px);
}
.ims{
    display: flex;
    position: relative;
    cursor: pointer;
}
.ims:hover .text1{ 
   opacity: 1;
   transform: translateY(0px);
   
    
}

.content {
    display: flex;
    flex-direction: column;
    background-color:  #6D902A;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 40%;
    position: absolute;
    text-align: center;
    justify-content: center;
    transition: 2s;
    opacity: 0;
    box-shadow: 0px 0px 11px 5px rgb(100, 36, 36);
    box-shadow: rgba(20, 20, 20, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0) 0px 32px 16px;
}
.s1-bg:hover .content{
    opacity: 1;
    cursor: pointer;
}

.circule {
    right: 163px;
    position: absolute;
    width: 110px;
    transform: translateY(-89px);
}

.circule img {
    width: 193px;

    animation: circule 10.3s infinite linear;
}

@keyframes circule {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.producrbg {
    background-color: #475f4ee8;

}

.img img {
    transform: rotate(10deg);
    animation: updown 5s alternate infinite linear;
}
.ss img {
    transform: rotate(10deg);
    animation: updown1 5s alternate infinite linear;
    
}
.ss .col-sm-3 {
    transition: 2s;
}
.ss .col-sm-3:hover{
    transform: scale(1.4);
}

@keyframes updown1 {
    from {
        transform: rotate(300deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.chipsbg{
    background-color: #6D902A;
}

.img{
    transition: 3s;
}

.img:hover {
    transform: scale(0.7)
}

@keyframes updown {
    /* from {
        transform: translate(0);
    } */

    to {
        transform: translateY(58px);
    }
}








.s-icon-s {

    top: 200px;
    right: 6px;
    background-color: rgb(124, 57, 48);
}

.s-icon-s img {
    width: 8vh;
padding: 6px;
}

.s-icon img {
    width: 5vh;
}

.footer {
    background-color: #6D902A;
}

@media only screen and (max-width:768px){
	.content{
		display: none;
	}
}












@media only screen and (max-width:768px){
	.img{ 
		width:50%;
		
	}
}
@media only screen and (max-width:768px){
	.ss .col-sm-3{ 
		width:50%;
		
	}
}
@media only screen and (max-width:768px){
	.video{ 
        height:min-content;
		width:100%;
		
	}
}

@media only screen and (max-width:768px){
	html,body{
		width:100%;
		overflow-x:hidden;
	}
}